.movie-card {
  position: relative;
  cursor: pointer;
  transform: 0.3s;
  margin: 0;
  min-width: 190px;
  display: inline-block;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 5px;
}
.movie-img {
  border-radius: 5px;
  width: 100%;
  display: block;
  height: auto;
}
.movie-card:hover {
  transform: scale(1.1);
  z-index: 5;
  transition: transform 0.3s;
}
@media screen and (max-width: 540px) {
  .movie-card {
    min-width: 110px;
  }
}
